body {
    font-size: 16px;
}


/* Studies styling */
.studies-toc {
    text-align: center;
}
.studies-toc-current {
    font-weight: bold;
}
a.studies-toc-link {
    font-size: 1.2em;
    color: inherit;
    text-decoration: none;
}

/* Unihan styling */
.uh-char {
    font-size: 1.5em;
}
a.uh-char-link {
    color: inherit;
    text-decoration: none;
}
label.uh-info-label {
    font-weight: inherit;
}
.uh-labeled-chars {
    text-align: center;
    padding-right: .75em;
    padding-bottom: 1em;
}
.uh-rotate {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

/* Thumbnail tweaks. */
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    height: 90%;
}
.thumbnail:hover {
    background-color: whitesmoke;
}
a.ddj-thumbnail:hover {
    text-decoration: none;
}

/* Nav tweaks. */
a.ddj-nav {
    color: inherit;
    font-weight: bold;
}

/* Standardize form column widths, disappear the third column. */
td.w2p_fl {
    width: 35%;
}
td.w2p_fw {
    width: 65%;
}
td.w2p_fc {
    width: 0%;
}
